body{
    margin: 0;
    text-align: center;
}
#siteName{
    margin: 0;
    border-top: 3vh solid #0874AE;
    border-bottom: 1.5vh solid #06527A;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    background-color: #0874AE;
    border-bottom: 1.5vh solid #06527A;

}
.navSect{
    display: flex;
    width: calc(25% - 0.6vw);
    height: 5vh;
    justify-content: center;
    align-items: center;
    border-right: 0.2vw solid black;
}
.image-slideshow-container {
    position: relative;
    max-width: 1500 px;

}

.second, .first {
    cursor: pointer;
    position: absolute;

}

.second:hover, .first:hover {
    background-color: black;
}

.dot {
    cursor: pointer;
    background-color: gray;
    border-radius: 50%;
}

.gallery-container {
    
}